/* CSS code */
.progress-container {
  display: flex;
  flex-direction: raw;
  place-content: center;
  margin: 20px;
}

.progress-element {
  width: 40px;
  height: 20px;
  margin-bottom: 10px;
  background-color: lightblue;
}

.active {
  background-color: blue;
}
