/* General styling for App.jsx */
#root {
  width: 18rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  /* prevent users from copy-pasting questions and options
  to google the right answer*/
  user-select: none;
}

/* Styling for PageHome component */
.description {
  text-align: left;
  text-indent: 2rem;
}

li {
  text-align: left;
}

/* Styling for PageQuiz component */
.question-container {
  height: 6rem;
  display: flex;
  place-items: center;
}

.question-container h3 {
  width: 100%;
}

.options-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 3rem;
}

.correct {
  background-color: PaleGreen;
}

.wrong {
  background-color: Pink;
}

/* Styling for ProgressBar component */
.progress-indicator {
  font-size: 1.1rem;
  font-weight: 800;
  /* overlap with progress bar */
  position: absolute;
  width: 18rem;
  margin-top: 0.25rem;
  text-align: center;
}

.progress-bar {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  place-content: center;
  max-width: 18rem;
  border-radius: 0.8rem;
  background-color: PaleTurquoise;
}

.progress-element {
  width: auto;
  height: 2rem;
  background-color: transparent;
}

.element-active {
  background-color: CornflowerBlue;
}

.element-active:first-child {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.element-last {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

/* Styling for PageAdv component */
.adv-img-container {
  width: 18rem;
  margin: 1rem auto;
}

.adv-img {
  width: 100%;
  height: auto;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  place-content: center;
  column-gap: 0.7rem;
  margin-top: 1.5rem;
}

.buttons-container button {
  color: black;
}

.adv-h3 {
  color: DodgerBlue;
  font-size: large;
}

/* Styling for PageResult component */
.result-gif {
  width: 16rem;
  height: auto;
  border-radius: 1rem;
  margin: 1rem auto 3rem;
}

.result {
  font-size: 1.2rem;
}
